@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-focused {
    outline: none !important;
}

.cm-editor {
    border-radius: 3px;
}

.cm-gutters {
    border-radius: 3px 0px 0px 3px;
}

input[disabled] {
    background: #e3e3e3;
    border: 1px solid #c7c7c7;
}

li.jstree-node {
    border: 1px solid #d9d9d9;
    margin-bottom: 5px;
    padding: 5px 5px;
    border-radius: 7px;
}

li.object-last-child {
    margin-bottom: 15px;
}

li.jstree-node > .jstree-wholerow {
    display: none;
}


ul.jstree-children {
    padding: 10px;
}

.jstree-default .jstree-node {
    margin-left: 0px!important;
}

.class > a.jstree-anchor {
    font-size: 1.2rem;
}

i.jstree-themeicon-custom {
    background-size: contain !important;
    opacity: 0.2;
}

.class > .jstree-anchor>.jstree-themeicon {
    margin: 10px!important;
}

.object > .jstree-anchor>.jstree-themeicon {
    margin: 5px!important;
    width: 20px!important;
    align-items: center;
}

li.jstree-open i.jstree-themeicon-custom {
    opacity: 1;
}

.jstree-default .jstree-anchor {
     line-height: normal;
}
a.jstree-anchor {
    display: flex;
    align-content: center;
    align-items: center;
    height: auto!important;
}

.jstree-default .jstree-leaf>.jstree-ocl {
    display: none!important;
}
.jstree-default>.jstree-no-dots .jstree-open>.jstree-ocl {
    display: none!important;
}
.jstree-default>.jstree-no-dots .jstree-closed>.jstree-ocl {
    display: none;
}
.jstree-container-ul {
    padding: 0px!important;
    display: block!important;
}
li.empty-class {
    opacity: .4;
}
.install_bg {
    background-image: url('/backend/images/install_background.svg');
    background-size: cover;
    background-position: top center;
}
.choices__inner {
    background-color: white!important;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity))!important;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-left: 0.75rem!important;
    padding-right: 0.75rem!important;
    line-height: 1.25rem!important;
    --tw-text-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity))!important;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)!important;
    min-height: auto!important;
}
.choices__list--single {
    padding: 0!important;
}
